<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%d %r %p [%t] %logger{1} - %m%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="stderr"/>
  </root>
</configuration>
